@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.header{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;

    height: 74px;
    background: #A8D07A;
    margin-top: 35px;
    border-radius: 20px;

    display: flex;
    align-items: center;

    -webkit-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
    z-index: 1000;
}
.head-cont{
    position: fixed;
    background: white;
    z-index: 999;
    width: 100%;
}
.header-container{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    color: white;
}
.brand{
    font-weight: 700;
    font-size: 23px;
}
.nav_links{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: all .8s;
}
.nav_links.active, .nav_links:hover{
    border-bottom: 1px solid white;
}
.sample{
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.samplepage {
    background-color: white;
    width: 100%;
    height: 100vh;
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
}
.samplepage::-webkit-scrollbar {
    display: none; /* Chrome, Safari и Opera */
}
.canvas{
    position: fixed;
    z-index: 1100;
    bottom: 15px;
    right: 15px;
    width: 374px;
    border: 1px solid #a8d07a;
    border-radius: 20px;
    background: white;
}
.block{
    padding: 30px 25px 15px 25px;
    height: 100%;
}
.name{
    font-size: 24px;
    font-weight: 700;
}

.btn-success {
    border-radius: 10px;
    background-color: #A8D07A;
    border-color: #A8D07A;
    font-weight: 700;
    font-size: 18px;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background-color: #a2ce6f;
    border-color: #a2ce6f;
    box-shadow: none; /* Убираем стандартную тень при клике */
}
.btn-outline-success {
    border-radius: 10px;
    border-color: #A8D07A;
    color: #A8D07A;
    font-weight: 700;
    font-size: 18px;
}
.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active {
    border-color: #a2ce6f;
    box-shadow: none; /* Убираем стандартную тень при клике */
}